# EditorConfig helps maintain consistent styles
# More info: https://editorconfig.org

root = true

[*.xsd]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true